<!DOCTYPE html>
<html lang="en">

<%- include('./common/head') %>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
       <%- include('./common/nav') %>
      
        <!-- Navbar End -->


        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">

                <% for (let data of bannerdata) {%>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="<%= data.image %>" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4"><%= data.title %></h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2"><%= data.subtitle %></p>
                                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</a>
                                    <a href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
                
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Search Start -->
       
        <!-- Search End -->


        <!-- Category Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
                <div class="row g-4">


                    <% for(let data of categorydata) {%>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="/employee/category/<%= data._id %>">
                         <img src="/<%= data.image %>" style="width: 200px; height: 140px; ">
                         <br>
                            <h6 class="mb-3"><%= data.title %></h6>
                            <p class="mb-0"><%= data.subtitle %></p>
                        </a>
                    </div>
                   
<% } %>

                </div>
            </div>
        </div>
        <!-- Category End -->


        <!-- About Start -->
        <% for(let about_data of aboutdata) {%>
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="<%= about_data.imageone %>">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="<%= about_data.imagetwo %>" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="<%= about_data.imagethree %>" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="<%= about_data.imagefour %>">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h2 class="mb-4"><%= about_data.title %></h2>
                        <p class="mb-4"><%= about_data.subtitle %></p>
                        <p><i class="fa fa-check text-primary me-3"></i><%= about_data.para1 %></p>
                        <p><i class="fa fa-check text-primary me-3"></i><%= about_data.para2 %></p>
                        <p><i class="fa fa-check text-primary me-3"></i><%= about_data.para3 %></p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
        <!-- About End -->


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Featured</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <h6 class="mt-n1 mb-0">Full Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <h6 class="mt-n1 mb-0">Part Time</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <% for(let data of joblistdata){
                                if (!data.isActive) {  %>
                              %>
                            <div class="job-item p-4 mb-4">
                                <div class="row g-4">
                                    <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                        <img class="flex-shrink-0 img-fluid border rounded" src="/<%= data.companyimage %>" alt="" style="width: 80px; height: 80px;">
                                        <div class="text-start ps-4">
                                            <h5 class="mb-3"><%= data.jobTitle %></h5>
                                            <h6 class="mb-3"><%= data.companyName %></h6>
                                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><%= data.location %></span>
                                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><%= data.jobNature %></span>
                                            <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i><%= data.salary %></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                    
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                                <a class="btn btn-primary" href="/employee/job/detail/<%= data._id %>">Details</a>
                                            </div>
                                            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i><%= data.publishedOn %></small>
                                       
                                    </div>
                                    
                                </div>
                            </div>
                            <% }} %>
                            
                            <a class="btn btn-primary py-3 px-5" href="">Browse More Jobs</a>
                        </div>
                        
                </div>
            </div>
        </div>
        <!-- Jobs End -->

        <!-- ////company/// -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Companies we are attached with</h1>
                <h5 class="text-center mb-5 wow fadeInUp" style="color:  #00B074;" data-wow-delay="0.1s">we are attached with more than 200+ companies</h5>
                <div class="row g-4">
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company1.png" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company2.png" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company3.jpg" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company4.jpg" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company5.jpg" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company6.jpg" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company7.jpg" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="">
                            <img src="company8.png" style="height: 170px; width: 170px; margin-left: 20px;">
                        </a>
                    </div>
                   
                </div>
            </div>
        </div>


        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <h1 class="text-center mb-5">Successs Stories of our Happy users!!!</h1>
                <div class="owl-carousel testimonial-carousel">
                    <% for(let data of reviewdata){ %>
                    <div class="testimonial-item bg-light rounded p-4">
                        <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                        <p><%= data.review %></p>
                        <div class="d-flex align-items-center">
                            <img class="img-fluid flex-shrink-0 rounded" src="<%= data.image %>" style="width: 50px; height: 50px;">
                            <div class="ps-3">
                                <h5 class="mb-1"><%= data.name %></h5>
                                <small><%= data.profession %></small>
                            </div>
                        </div>
                    </div>
                   <% } %>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        

        <!-- Footer Start -->
        <%- include('./common/footer') %>
</body>

</html>