<!DOCTYPE html>
<html lang="en">
  <%- include('../layout/head.ejs')%>
  <body
    class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed"
  >
    <div class="wrapper">
      <!-- Preloader -->
      <div
        class="preloader flex-column justify-content-center align-items-center"
      >
        <img
          class="animation__wobble"
          src="/dist/img/AdminLTELogo.png"
          alt="AdminLTELogo"
          height="60"
          width="60"
        />
      </div>

      <!-- Navbar -->
      <%- include('../layout/nav.ejs')%>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <%- include('../layout/sidebar.ejs')%>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">Add-Post</h1>
              </div>
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <div class="card-body p-0">
                <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Add Post</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form action="/admin/add/post" method="post" enctype="multipart/form-data">
                      <div class="card-body">
                        <!-- TITLE START-->
                        <div class="form-group">
                          <label for="titleExample">Post Title</label>
                          <input type="text" name="title" value="<%= value && value.title %>" class="form-control" id="titleExample" placeholder="Enter title">
                          <p class="text-danger text-sm">
                            <% if(error && error?.title){ %> <%= error.title?.message %>
                            <% } %>
                          </p>
                        </div>
                        <!-- TITLE END -->
                        <!-- SUB-TITLE START-->
                        <div class="form-group">
                          <label for="subtitleExample">Post Sub-Title</label>
                          <input type="text" name="subTitle" value="<%= value && value.subTitle %>" class="form-control" id="subtitleExample" placeholder="Enter sub-title">
                          <p class="text-danger text-sm">
                            <% if(error && error?.subTitle){ %> <%= error.subTitle?.message %>
                            <% } %>
                          </p>
                        </div>
                        <!-- SUB- END -->
                        <!-- description START-->
                        <div class="form-group">
                          <label for="descriptionExample">Post Description</label>
                          <input type="text" name="description" value="<%= value && value?.description %>" class="form-control" id="descriptionExample" placeholder="Enter description">
                          <p class="text-danger text-sm">
                            <% if(error && error?.description){ %> <%= error.description?.message %>
                            <% } %>
                          </p>
                        </div>
                        <!-- description END -->
                        <div class="form-group">
                          <label for="exampleInputFile">File input</label>
                          <div class="input-group">
                            <div class="custom-file">
                              <input type="file" name="image" required class="custom-file-input" id="exampleInputFile">
                              <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                            </div>
                            <div class="input-group-append">
                              <span class="input-group-text">Upload</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-check">
                          <input type="checkbox" required class="form-check-input" id="exampleCheck1">
                          <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                      </div>
                      <!-- /.card-body -->
      
                      <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </div>
                    </form>
                  </div>
            </div>
          </div>
          <!--/. container-fluid -->
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->

      <!-- Main Footer -->
      <%- include('../layout/footer.ejs')%>
    </div>
  </body>
</html>
